@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');



*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    
}
:root{
    --pink: #e30fb5;
   --gold: #f2e31a;
   --yellow: #e7e7c7;
   --white: #efefef;
   --black: #565656

}

html,
body{
    height: 100%;
}

body{
    background: var(--white);
}

/* BASIC STYLING  */
a{
font-size: 1.1rem;
text-decoration: none;
color: var(--black);

}

.flex{
display: flex;
align-items: center;
flex-wrap: wrap;

}

li{
    list-style: none;
}

.between{
    justify-content: space-between;
}

.gap-2{
    gap: 2rem;
}

.gap-3{
    gap: 3rem;
}


.wrapper{
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}

img{
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
}

.p-top{
    padding-top: 10rem;
}

.text-center{
    text-align: center;
}

.mt-4{
    margin-top: 4rem;
}

.mt-half{
    margin-top: .5rem;
}

.m-auto{
    margin: auto;
}

.mt-one-half{
    margin-top: 1.5rem;
}






/* HEADER STYLING */

header{
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--white);
}

.navbar{
    min-height: 14vh;
}

.logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold);
}


.btn{
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--gold);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;
}

.btn:hover{
    background: var(--pink);
}


.cart-icon{
    color: var(--black);
    font-size: 1.3rem;
    position: relative;
}

.cart-icon .cart-value{ 
position: absolute;
top: 50%;
right: -10px;
font-size: .85rem;
width: 20px;
aspect-ratio: 1;
border-radius: 100vw;
background: var(--gold);
color: var(--pink);
text-align: center;
line-height: 20px;
}

.deskto-action .hamburger{
    font-size: 1.5rem;
    display: none;
}

.mobile-menu{
    display: none;
}

/* SECTION STYLING */ 

main{
    width: 100%;
    min-height: calc(100vh - 14vh);
}

main section{
    width: 100%;
}

.hero-section{
    height: calc(100vh - 14vh);
    align-items: stretch;
    background: var(rgb(55, 16, 16));
}

.content,
.image-container,
.service-card{
    flex: 1;
    flex-basis: 300px;
}

.image-container{
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1{
    font-size: 5.6vw;
    color: var(--black);

}

h1 span{
    color: var(--gold);
}

p{
    font-size: 1.25rem;
    color: gray;
    line-height: 1.8rem;
    font-weight: 400;
}

.para{
    margin-block: 2rem;
    max-width: 550rem;

}

.social-icon{
    background: var(--yellow);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;
}

.social-icon:hover{
    background: var(--pink);
    color: var(--white);
}


/* SECTION 1 */

h5{
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: var(--gold);
    text-transform: uppercase;
}

h2{
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--black);
}

h3{
    font-size: 2.rem;
    text-transform: capitalize;
    color: var(--black);
}

.service-card h3{
    margin-top: 1.5rem;
    margin-bottom: 1rem;

}

/* SECTION 2  */

.order-card{
    flex: 1;
    flex-basis: 300px;
    background: var(--white);
    padding: 0 2.5rem 2rem 1rem;
    border: .1rem solid var(--gold);
    border-radius: 2rem;
    box-shadow:
    rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
}


.order-card img{
    width: 15rem;
    filter: drop-shadow(
        rgba(0, 0, 0, 0.2) 0 10px 10px
    );
}

h4{
    font-size: 1rem;
    color: black;
}

.order-card .price{
    font-size: 1.7rem;
    color: var(--gold);
    padding-top: 1rem 0 2rem 0;

}

/* CART TAB STYLING */

.cart-tab{
    background: var(--yellow);
    position: fixed;
    inset: 0 -500px 0 auto;
    width: 27rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
    box-shadow: 
    rgba(0, 0, 0, 0.1) -10px -10px 20px;
}

.cart-tab-active{
     inset: 0 o 0 auto;
}

.cart-list{
    flex: 1;
    width: 100%;
    margin-top: 1.5rem;
    overflow: auto;
}

.cart-list::-webkit-scrollbar{
    width: 0;
}


.total-container{
    width: 100%;
    background: var(--gold);
    text-align: center;
    margin-block: 1rem;
    padding-block: 1rem;
}

.total-container h4{
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 400%;
}

.btn-container .btn{
    background: var(--black);
    transition: .3s ease-in-out;
}

.btn-container .btn:hover{
    background: var(--gold);
    color: var(--black);
}
.item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .7rem 1rem;
}

.cart-list .item:nth-child(even){
    background: var(--white);
}

.item .item-image img{
    width: 5rem;
   
}

.item h4{
    font-size: 1.3rem;
    color: var(--black);
}

.item .item-total{
    font-weight: 400;
    margin-top: .3rem;
}

.quantity-btn{
    background: var(--gold);
    color-scheme: var(--black);
    width: 1.7rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    text-align: center;
    line-height: 1.7rem;
}

.quantity-value{
    font-size: 1.2rem;
    font-weight: 400;
    margin-inline: .6rem;
}


/* section 3 */

.review-container{
    width: 60px;
    max-width: 100%;
    flex: 1;
}



.swiper{
        width: 100%;
        height: 100%;
      }

      .profile{
        width: 4rem;
        aspect-ratio: 1;
        border-radius: 100vw;
        overflow: hidden;

      }

.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fa-star{
    color: var(--gold);
}


.arrow{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold);
    color: var(--black);
    text-align: center;
    line-height: 2.5rem;
}


/* SECTION 4 */

.app-container{
    background: var(--yellow);
    padding: 3rem 6rem;
    border-radius: 3rem;
}

.app-container .content h2{
     font-size: 4.5rem;
}


.app-container .image-container img{
    width: 25rem;
}

/* SECTION 5 */

.input-container{
    width: 43rem;
    max-width: 100%;
    background: var(--white);
    padding: .8rem;
    box-shadow: 
    rgba(0, 0, 0, 0.1) 0 5px 8px;
    border-radius: 1rem;
    margin: 4rem auto 0 auto;


}

input[type="email"]{
    flex: 1;
    height: 6vh;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    padding-left: 1rem;
}

input[type="eamil"]:focus{
    outline: none;
}




/* FOOTER STYLING */

.footer-container{
    margin-top: 10rem;
    padding-block: 4rem;
    background: var(--yellow);
}

.footer-container .flex{
    align-items: flex-start;
}

.footer-wrapper{
    flex: 1;
    flex-basis: 150px;
}

.footer-wrapper:nth-child(1){
    flex: 2;

}

.footer-wrapper .social-icon{
    background: var(--white);
}

.footer-wrapper .social-icon{
    background: var(--black);
    color: var(--white);
}

.footer-link{
    color: grey;
    font-size: 1.1rem;
    transition: .3s ease-in-out;
}

.footer-link:hover{
    color: var(--black);
}


































/* MEDIA QUERIES */

@media screen and (max-width: 780px){

    /* HEADER STYLING */ 
   
    .navlist
     .desktop-action .btn{
        display: none;
     }   
        .desktop-action .hamburger{
            display: block;
        }
    
.mobile-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: absolute;
    top: 20%;
    left: -100%;
    transform: translateX(-50%);
    width: 20%;
    padding: 2rem;
    background: var(--white);
    border: .1rem solid var(--gold);
    border-radius: 2rem;
    box-shadow:
    rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
    transition: all .5s ease-in-out;
}

.mobile-menu-active{
    left: 50%;
    transform: translateX(-50%);
}

   /* SECTION STYLING */ 

   /* HERO STYLING  */
   

   h1{
    font-size: 3.6rem;
   }

   .content{
    padding-top: 3rem;
   }

   .gap-2{
    gap: 1.4rem;

   }

   .gap-4{
    gap: 4rem;
   }


/* SECTION 01  */
h2{
    font-size: 3rem;
}
/* SECTION 04 */

.app-container{
    padding: 2.2rem;
}

.app-containet .content h2{
    font-size: 3.5rem;

}